.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 100%;
  /* min-width: 340px;
  max-width: 450px; */
  /*   gap: var(--gap-m); */
  background-color: var(--color-4);
  margin: var(--margin-l);
  padding: 15px;
  border-radius: 15px;
}

.card img {
  width: 50%;
  margin: 10px;
  border-radius: 8px;
  object-fit: cover;
}

.card .text {
  display: flex;
  height: 90%;
  padding: 0px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.card .text h4 {
  color: var(--color-1);
}

.card .text a {
  width: 150px;
  background-color: var(--color-3);
  padding: var(--padding-s);
  border-radius: 5px;
}

.card .text a:hover {
  background-color: var(--color-5);
}

.card {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.9s ease-out;
}

.card.visible {
  opacity: 1;
  transform: translateY(0);
}
