footer {
  height: 100px;
  background-color: var(--color-3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-1);
  font-size: 19px;
}

footer span {
  color: var(--color-5);
  font-size: 20px;
  margin-left: var(--margin-s);
}
